@import "./palette.scss";
$hamburger-types: (vortex);
$hamburger-layer-color: $primary-color-text;
$hamburger-padding-x           : 0;
$hamburger-padding-y           : 0;

@import "~hamburgers/_sass/hamburgers/hamburgers";

header {
  background-color: $primary-color-dark;
  color: $primary-color-text;
  padding: 8px;
  margin-bottom: 25px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  position: relative;
  z-index: 2;
  @media screen and (min-width: 600px) {
    text-align: center;
  }
}

button.hamburger {
  position: absolute;
  padding-top: 6px;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  &:focus, &:hover {
    background-color: transparent;
    border: none;
  }
}
