.main-menu {
  background-color: transparentize(white, 0.5);
  position: fixed;
  bottom: 0;
  top: 62px;
  width: 100%;
  z-index: -1;
  opacity: 0;
  overflow: auto;

  h2, h3 {
    text-align: center;
  }
  h3 {
    margin-bottom: 5px;
  }

  ul, ol {
    list-style: none;
  }

  &_wrapper {
    width: 330px;
    margin: 50px auto 0;
    transform: scale(.6);
  }

  &_item {
    a {
      color: $secondary-text-color;
      display: block;
      text-decoration: none;
      background-color: white;
      border-radius: 2px;
      padding: 4px;
      border: 1px solid $divider-color;
      font-size: 110%;
      &:hover, &:focus {
        background-color: $accent-color;
        color: white;
        border-color: $accent-color;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
      }
    }
    &.__active a {
      color: $primary-text-color;
      font-weight: bold;
      &:hover, &:focus {
        color: white;
      }

    }
  }
  body.__menu-visible & {
    z-index: 1;
    display: block;
    opacity: 1;
    transition: opacity .3s;
    &_wrapper {
      transform: scale(1);
      transition: transform 1s;
    }

  }
}
