@import "styles/header.scss";
@import "styles/main-menu.scss";
@import "styles/main.scss";
@import "styles/brand.scss";
@import "styles/hero-unit.scss";
@import "styles/support-author.scss";
@import "styles/footer.scss";
@import "styles/palette.scss";

body {
    margin: 0;
    padding: 0;
    color: $primary-text-color;
    &.__menu-visible {
        overflow: hidden;
    }
}

a {
    color: $primary-color;
    text-decoration: underline;
    &:hover, &:focus, &:active {
        color: $primary-color-dark;
    }
}
h1, h2 {
    font-family: 'Crimson Text', serif;
}

.toc {
    ul {
        list-style: none;
        margin-bottom: 10px;
    }
    h4 {
        margin-bottom: 10px;
    }
    li {
        margin: 0;
    }
}
